html, body {
  height: 100%
}

body {
  font-family: 'ralewaymedium';
  font-size: 16px;
}

.text-extra-light {
  font-family: 'ralewayextralight';
}

.text-light {
  font-family: 'ralewaylight';
}

.text-medium {
  font-family: 'ralewaymedium';
}